@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	height: 100vh;
	display:flex;
	flex-direction: column;
}

#map-section {
	display: flex;
	flex-direction: column;
}

#map {
	flex: 1;
	width: 100%;
	height: 90vh;
}
