@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}